@page "/"

<PageTitle>Index</PageTitle>

<h1>Welcome to GD</h1>

<p>This is where there will be some stuff to look at and read and stuff, maybe?</p>

<p>Have a little clicky through some of the menu options</p>

<SurveyPrompt Title="How is Blazor working for you?" />
